.eventBodyArea{
  background-color: #FFDA4B;
}

.eventShowBodyArea{
  background-color: white;
    border-top: 1px solid black;
    border-radius: 20px;
}

.venueBodyArea{
  background-color: #AEF470;
}

.eventCreateBodyArea{
    background-color:rgba(182,183,195,0.3);
    border-top: 1px solid black;
    border-radius: 20px;
}

.chatBodyArea{
    background-color:white;
    border-top: 1px solid black;
    border-radius: 20px;
}

.chatArea{
    background: -moz-linear-gradient(top, #fcfcac, #fcd494);
    background: -webkit-linear-gradient(top, #fcfcac, #fcd494);
    background: linear-gradient(to bottom, #fcfcac, #fcd494);
    border-top: 1px solid black;
    border-radius: 20px;
}
