.eventBodyArea{
  background-color: #FFDA4B;
}

.eventShowBodyArea{
  background-color: white;
}

.venueBodyArea{
  background-color: #AEF470;
}

.eventCreateBodyArea{
  background-color:rgba(182,183,195,0.3);
}